body{
   
    margin: 0;
    padding: 0;
}
.titulo{
    
    width: 50%;
    height: 100%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    float: right;
    
    
}
.formulario{
    width: 75% inherit;
    height: 75% inherit;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: aliceblue;
}
