/*-----===MAIN===-----*/
main {
   height: 75em;
}

/*-----===ARTICLE===-----*/
article {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   justify-content: space-evenly;
}

/*---==Carousel Categorias==---*/
/*--=Categorias=--*/
.carousel-categorias-container {
   position: relative;
   min-height: 15em;
   height: 20%;
   width: 90%;
   overflow: hidden;
}

.carousel-cabecalho {
   height: 20%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.prvItem,
.nxtItem {
   height: 2em;
   width: 2em;
   border: solid 2px lightgray;
   border-radius: 1.5em;
   color: dodgerblue;
   font-size: 18px;
   font-weight: bolder;
   background-color: white;
   cursor: pointer;
}

.prvItem.disabled,
.nxtItem.disabled {
   opacity: 0.5;
   cursor: default;
}

.carousel-visible{
   height: 80%;
}
.carousel {
   height: 100%;
   width: 100%;
   display: flex;
   transition: transform 0.3s ease-in-out;
}

.carousel-item {
   flex: 0 0 20%;
   /* Defina a largura do item do carrossel aqui */
   height: 100%;
   width: 100%;
}

.categoria {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: .3s;
   cursor: pointer;
}

.categoria-img {
   height: 80%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.categoria-img div{
   height: 150px;
   width: 150px;
   border-radius: 75px;
   background-color: cyan;
}
.categoria-descricao{
   height: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(120, 120, 120);
}



