* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------*/
.tudo{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body{
    width: 100%;
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
  justify-content: center;
  }
  /* ========começo do header =============*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap");

header{
  width: 100%;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 5px 20px rgb(119, 116, 116);
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  opacity: 0.5;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  width: 100%;
  height: 25%;
  transition: .4s;
  
}


.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list li:hover{
    background-color: rebeccapurple;
    transition: .7s;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* ==========fim do header ==========*/

/*-----section-----*/

.section-eventos{
    height:70%;
    margin-top:5%;
    width: 100%;
    
}
.eventos{
  margin-top: 40px;
    width: 100%;
    height: 50%;
}
.eventos .img-eventos{
width: 100%;
height: 100%;

}
.items-eventos{
  width: 100%;
  height: 35%;
  box-shadow: 1px 2px 5px 5px rgb(243, 243, 243);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
}
.aviso{
  width: 95%;
  height: 90%;
  
}
.row-top{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 20px;
}
.row-botton hr{
  height:70%;
  margin-right: 20px;
}
.row-botton{
  display: flex;
  width: 100%;
  height: 60%;
}

.column1{
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*-----section2-----*/
.section-itmens-eventos{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.items-eventos2{
 padding: 10px;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 2px 5px 5px rgb(243, 243, 243);
  color: rgb(105, 104, 104);
  font-weight: 600;
}
.items-eventos2:hover{
  box-shadow: 1px 2px 5px 5px rgb(230, 230, 230);
}
.fa-plus:hover{
  color: black;
  font-weight:bold ;
}
/*=====BOTÃO=====*/
.section-button{
  margin-top: 30px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
 
  
}
.comprar{
  padding: 1.5rem;
  
  background-color: rebeccapurple;
  color: aliceblue;
  font-size: 15px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  transition: .5s;
}
.comprar:hover{
  background-color: rgb(79, 26, 131);
  transition: .5s;
}
/*======footer=====*/
footer {
  width: 100%;
  height: 350px;
  background-color: rgb(80, 80, 80);
  color: rgb(173, 173, 173);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  
}
.cidades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.categorias {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.ajuda {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
ul{
  height: 228px;
}
li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
.sociais-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sociais-footer button {
  width: 40px;
  height: 40px;
  background-color: rgb(88, 88, 88);
  border: 0;
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  transition: .5s;
}
.sociais-footer button:hover{
  background-color: rgb(43, 43, 43);
  color: aliceblue;
  transition: .5s;
} 


