body{
    background-color: rgb(211, 210, 210);
}


h1{
    padding: 30px;
    margin-left: 30px;
}

.container{
    margin-top: 10vh;
}


section .card-img-top{
    width: 250px;
    height: 250px;
    margin-left: 10px;
   
}
