
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap");

/* ========começo do header =============*/
header{
  width: 100%;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 5px 20px rgb(119, 116, 116);
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  opacity: 0.5;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  width: 100%;
  height: 25%;
  transition: .4s;
  
}


.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list li:hover{
    background-color: rebeccapurple;
    transition: .7s;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* ==========fim do header ==========*/

.main{
  height: 100%;
  display: flex;
  justify-content: center;
}
.tudo {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*=============slides (section)============= */

.slider {
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
  height: 550px;
  padding: 0;
  overflow: hidden;
}

.slider-content {
  width: 100%;
  height: 100%;
  display: flex;
  
  align-items: flex-start;
}

.slider-content input {
  display: none;
}

.slide-box {
  width: 100%;
  height: 500px;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img {
  width: 100%;
}
.section2{
  margin-top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-manual {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  
}

.nav-manual .manual-btn,
nav-auto div {
  border: 1px solid blueviolet;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}

.manual-btn:not(:last-child),
nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background-color: blueviolet;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: rgb(113, 59, 167);
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}
#radio2:checked ~ .primeiro {
  margin-left: -25%;
}
#radio3:checked ~ .primeiro {
  margin-left: -50%;
}
/*============================================================*/

/*=============carrossel(swiper) =============*/

/*---==Carousel Categorias==---*/
/*--=Categorias=--*/
.carousel-categorias-container {
  position: relative;
  min-height: 15em;
  height: 20%;
  width: 90%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-cabecalho {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prvItem,
.nxtItem {
  height: 2em;
  width: 2em;
  border: solid 2px lightgray;
  border-radius: 1.5em;
  color: dodgerblue;
  font-size: 18px;
  font-weight: bolder;
  background-color: white;
  cursor: pointer;
}

.prvItem.disabled,
.nxtItem.disabled {
  opacity: 0.5;
  cursor: default;
}

.carousel-visible{
  height: 80%;
}
.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  transition: transform .4s ease-in-out;
}

.carousel-item {
  flex: 0 0 20%;
  /* Defina a largura do item do carrossel aqui */
  height: 100%;
  width: 100%;
}

.categoria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: .3s;
  cursor: pointer;
}

.categoria-img {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoria-img div{
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background-color: rgb(53, 141, 141);
}
.categoria-descricao{
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(41, 41, 41);
}


/* ===========Cards=========== */
.cards {
  display: flex;
  padding: 40px;
  padding-top: 0;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.texto-cards {
  width: 100%;
  height: 12%;
}
.card1 {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border-radius: 8px;
  height: 350px;
  box-shadow: 0px 0px 20px rgb(248, 248, 248);
  transition: 0.4s;
  margin-bottom: 40px;
}

.card1:hover{
  box-shadow: 0px 10px 20px rgb(177, 175, 175);
  transition: 0.4s;
}

.card-img {
  border-radius: 10px;
  height: 60%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img img {
  width: 100%;
  height: 80%;
}

.card-conteudo {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card1 .icon{
  width: 90%;
  height: 55%;
}
.card1 img{
  width: 100%;
  height: 100%;
}
.card1 span {
  font-weight: 300;
  font-size: 80%;
}
.card1 button {
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  background-color: rgb(98, 98, 255);
  color: aliceblue;
}

/*=====================*/

/*======footer=====*/
footer {
  width: 100%;
  height: 350px;
  background-color: rgb(80, 80, 80);
  color: rgb(173, 173, 173);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  
}
.cidades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.categorias {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.ajuda {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
ul{
  height: 228px;
}
li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
.sociais-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sociais-footer button {
  width: 40px;
  height: 40px;
  background-color: rgb(88, 88, 88);
  border: 0;
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  transition: .5s;
}
.sociais-footer button:hover{
  background-color: rgb(43, 43, 43);
  color: aliceblue;
  transition: .5s;
} 


