*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*=====Formulário=====*/
.container-forms{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: aliceblue;
    border-radius:10px;
    box-shadow: 0px 10px 20px rgb(177, 175, 175);
    width: 450px;
    max-width: 100%;
    overflow: hidden;
    margin-top: 35px;
    height: 90%;
}
.cabecalho{
    background-color: rgb(20, 18, 155);
    padding: 20px;
    color: aliceblue;
}
.form{
    padding: 20px;
}
.form-control{
    margin-bottom: 10px;
    padding: 20px;
    position: relative;

}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid gray;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
.form-control i{
 position: absolute;
 top: 53px;
 right: 25px;
 visibility: hidden;
}
.form-control small{
    position: absolute;
    bottom: 0;
    visibility: hidden;
}
.form button{
    background-color: rgb(13, 129, 32);
    color: white;
    font-size:14px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
}
.form button:hover{
    background-color: rgb(48, 179, 70);
    transition: .5s;  
}
/*====================*/


/*=====error and success=====*/
.form-control.success input{
    border-color: rgb(59, 247, 59);
}
.form-control.error input{
    border-color: #cf3726;
}
.form-control.success i.fa-check-circle {
    color: rgb(59, 247, 59);
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #cf3726;
    visibility: visible;
}
.form-control.error small{
   color: #cf3726;
    visibility: visible;
}
